html, body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    flex: 3;
    background-color: #D7D3BF;
    justify-content: flex-start;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 31px 50px 31px 80px;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: #D7D3BF;
}

.active-tab {
    border-bottom: 1px solid #888888;
    color: #000000;
    background-color: #D7D3BF;
    padding: 10px 20px 10px 20px;
    margin: 30px 5px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}

.inactive-tab {
    padding: 10px 20px 10px 20px;
    margin: 30px 5px;
    background-color: #D7D3BF;
    color: #333333;
    text-decoration: none;
    font-weight: normal;
    border-radius: 5px 5px 0 0;
}

.inactive-tab:hover, .active-tab:hover {
    background-color: #A59D84;
    color: white;
}

.dashboards {
    flex: 1;
    background-color: #ECEBDE;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.chart-container {
    box-shadow: 0 2px 20px #664343;
    border: 1px solid #3B3030;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}