html, body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    flex: 3;
    background-color: #91AC8F;
    justify-content: flex-start;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 31px 50px 31px 80px;
    color: #121212;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: #91AC8F;
}

.active-tab {
    border-bottom: 1px solid #888888;
    color: #000000;
    background-color: #91AC8F;
    padding: 10px 20px 10px 20px;
    margin: 30px 5px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}

.inactive-tab {
    padding: 10px 20px 10px 20px;
    margin: 30px 5px;
    background-color: #91AC8F;
    color: #333333;
    text-decoration: none;
    font-weight: normal;
    border-radius: 5px 5px 0 0;
}

.inactive-tab:hover, .active-tab:hover {
    background-color: #66785F;
    color: white;
}

.dashboards-top, .dashboards-bottom {
    flex: 1;
    background-color: #ECEBDE;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dashboards-top {
    grid-template-columns: repeat(3, 1fr);
}

.dashboards-bottom {
    grid-template-columns: repeat(2, 1fr);
}

.chart-container, .chart-container {
    box-shadow: 0 2px 20px #664343;
    border: 1px solid #1A3636;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: #F7F6F2;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.error-container {
    text-align: center;
    background-color: #ECEBDE;
}

.error-message {
    font-size: 18px;
    color: #cc0000;
    padding: 20px;
}

.hidden {
    display: none;
}
