html, body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    flex: 3;
    background-color: #D7D3BF;
    justify-content: flex-start;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 31px 50px 31px 80px;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: #D7D3BF;
}

.active-tab {
    border-bottom: 1px solid #888888;
    color: #000000;
    background-color: #D7D3BF;
    padding: 10px 20px 10px 20px;
    margin: 30px 5px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}

.inactive-tab {
    padding: 10px 20px 10px 20px;
    margin: 30px 5px;
    background-color: #D7D3BF;
    color: #333333;
    text-decoration: none;
    font-weight: normal;
    border-radius: 5px 5px 0 0;
}

.inactive-tab:hover, .active-tab:hover {
    background-color: #A59D84;
    color: white;
}

.main-container {
    display: flex;
    flex: 1;
    background-color: #ECEBDE;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

form {
    width: fit-content;
    height: fit-content;
    padding: 50px;
    border: 1px solid #3B3030;
    border-radius: 5px;
    margin-top: 60px;
    background-color: #F7F6F2;
    box-shadow: 0 2px 25px #664343;
}

.form-title {
    margin: 0 20px 30px 20px;
    text-align: center;
    color: #272727;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #3B3030;
}

input, select {
    font-size: 15px;
    padding: 12px 25px;
    border-radius: 8px;
    border: 1px solid #3B3030;
}

select {
    color: #393E46;
}

select:hover {
    cursor: pointer;
}

select:disabled {
    color: #948979;
    cursor: default;
}

.submit-btn {
    padding: 10px 25px;
    background-color: #ECEBDE;
    border: 1px solid #3B3030;
    border-radius: 5px;
    font-size: 16px;
    margin: 30px auto 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.submit-btn:hover {
    background-color: #A59D84;
    color: white;
}

.chart-container {
    position: relative;
    width: 800px;
    min-height: 400px;
    margin: 80px 0 80px 100px;
    box-shadow: 0 2px 25px #664343;
    border: 1px solid #3B3030;
    border-radius: 5px;
    padding: 20px;
}

.hidden {
    display: none;
}

.no-data-message {
    position: absolute;
    top: 43%;
    left: 20%;
    font-size: 18px;
    color: #272727;
    border: 1px solid #3B3030;
    border-radius: 5px;
    background-color: #54473F;
    color: white;
    padding: 10px;
}

.error-container {
    text-align: center;
    background-color: #ECEBDE;
}

.error-message {
    font-size: 18px;
    color: #cc0000;
    padding-bottom: 30px;
}